{% extends '_extended_base.twig' %}

{% set meta_title_override = 'Now Popular' %}
{% set twitter_image_override = 'img-jsock-mcilic-2-1536.jpg' %}
{% set og_image_override = twitter_image_override %}

{% block content %}

    <div class="site-content">
        <div class="inner">
            {% set games = [
                {
                    type: 'normal',
                    icon: 'football',
                    time: 'Today 20H30',
                    name: [ 'Paris SG', 'Saint Etienne' ],
                    event: 'French League 1',
                    bets: '25',
                    odds: [ '1.70', '3.60', '5.00' ]
                },
                {
                    type: 'live',
                    img: 'img-jsock-mcilic-2',
                    icon: 'tennis',
                    time: '3rd set',
                    name: [ 'J.Sock', 'M.Cilic' ],
                    event: 'US Open',
                    bets: '150',
                    odds: [ '2.65', '1.38' ]
                },
                {
                    type: 'normal',
                    icon: 'tennis',
                    time: 'Tomorrow 20H45',
                    name: [ 'J.Tsonga', 'K.Anderson' ],
                    event: 'US Open',
                    bets: '150',
                    odds: [ '2.65', '1.38' ]
                },
                {
                    type: 'normal',
                    icon: 'football',
                    time: '2/11/16 21H00',
                    name: [ 'Monaco', 'Tottenham' ],
                    event: 'Champions League',
                    bets: '73'
                },
                {
                    type: 'normal',
                    img: 'img-jsock-mcilic',
                    icon: 'tennis',
                    tv: true,
                    time: 'Tomorrow 20H45',
                    name: [ 'J. Sock', 'M. Cilic' ],
                    event: 'US Open',
                    bets: '150',
                    odds: [ '-', '1.38' ]
                },
                {
                    type: 'live',
                    icon: 'football',
                    tv: true,
                    time: '95\'',
                    score: '1 - 0',
                    name: [ 'Lyon', 'Marseille' ],
                    event: 'Europa League',
                    bets: '73',
                    odds: [ '2.70', '3.25', '2.60' ]
                }
            ] %}
            {% for game in games %}
                <div class="mod-game{{ (game.type == 'live' ? ' live' : '') }}">
                    {% if game.img is defined %}
                        <div class="mg-foreground">
                            <img srcset="{{ macros.asset('assets/media/img/' ~ game.img ~ '-290.jpg', current_domain, version) }} 290w,
                                         {{ macros.asset('assets/media/img/' ~ game.img ~ '-580.jpg', current_domain, version) }} 580w,
                                         {{ macros.asset('assets/media/img/' ~ game.img ~ '-1024.jpg', current_domain, version) }} 1024w,
                                         {{ macros.asset('assets/media/img/' ~ game.img ~ '-1536.jpg', current_domain, version) }} 1536w"
                                 sizes="100vw"
                                 alt="{{ game.name[0] ~ ' - ' ~ game.name[1] ~ ' (' ~ game.event ~ ')' }}"
                                 data-src="{{ macros.asset('assets/media/img/' ~ game.img ~ '-1536.jpg', current_domain, version) }}"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 class="mg-foreground_img lazyload" />
                             {% if game.type == 'live' %}
                                 <span class="mg-foreground_live-icon icon-live">Live</span>
                             {% endif %}
                        </div>
                    {% endif %}
                    <div class="mg-informations">
                        <div class="mg-informations_drawing">
                            <span class="mg-informations_icon icon-{{ game.icon }}"></span>
                        </div>
                        <h2 class="mg-informations_text">
                            {% if game.type == 'live' and game.icon == 'tennis' %}
                                <span class="mg-informations_match-name">
                                    {{- game.name[0] ~ '<br />' ~ game.name[1] -}}
                                </span>
                                <span class="mg-informations_match-event">{{ game.event }}</span>
                            {% else %}
                                <span class="mg-informations_match-time">
                                    {% if game.tv is defined %}
                                        {% if game.type == 'live' %}
                                            <span class="mg-informations_live-icon icon-live">Live</span>
                                            <span class="mg-informations_live-tv-icon icon-live-tv">TV</span>
                                        {% else %}
                                            <span class="mg-informations_tv-icon icon-tv">TV</span>
                                        {% endif %}
                                    {% endif %}
                                    {{ game.time }}
                                </span>
                                <span class="mg-informations_match-name">
                                    {{- game.name[0] ~ (game.score is defined ? '' : ' - ') -}}
                                    {% if game.score %}
                                        <span class="mg-informations_match-score">{{ game.score }}</span>
                                    {% endif %}
                                    {{- game.name[1] -}}
                                </span>
                                <span class="mg-informations_match-event">{{ game.event }}</span>
                            {% endif %}
                        </h2>
                        {% if game.type == 'live' and game.icon == 'tennis' %}
                            <div class="mg-score-tennis">
                                <span class="mg-score-tennis_time">{{ game.time }}</span>
                                <div class="mg-score-tennis_board">
                                    <div class="mg-score-tennis_set">
                                        <span class="mg-score-tennis_lost-set">2</span>
                                        <span class="mg-score-tennis_win-set">6</span>
                                    </div>
                                    <div class="mg-score-tennis_set">
                                        <span class="mg-score-tennis_lost-set">3</span>
                                        <span class="mg-score-tennis_win-set">6</span>
                                    </div>
                                    <div class="mg-score-tennis_set_in-progress">
                                        <span class="mg-score-tennis_set-inprogress">5</span>
                                        <span class="mg-score-tennis_set-inprogress">2</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <h3 class="mg-informations_bets">
                            <a href="#" class="mg-informations_bet-lnk">
                                <span class="mg-informations_bet-value">{{ game.bets }}</span>
                                <span class="mg-informations_bet-label">bets</span>
                                <span class="mg-informations_bet-icon icon-arrow-1-b"></span>
                            </a>
                        </h3>
                    </div>
                    <div class="mg-odds">
                        {% if game.odds is defined %}
                            {% for odd in game.odds %}
                                <h4 class="mg-odds_odd{{ (min(game.odds) == odd and game.type == 'live' and game.icon == 'football' ? ' mg-odds_odd-min' : '') }}">
                                    <span class="mg-odds_seo">Odd: </span>
                                    <span class="mg-odds_label">{{ (loop.index == 1 ? loop.index : (loop.index == 3 ? '2' : (loop.length == 2 ? '2' : 'N') ) ) }}</span>
                                    <span class="mg-odds_value">{{ odd }}</span>
                                </h4>
                            {% endfor %}
                        {% else %}
                            <div class="mg-odds_bet">
                                <a href="#" class="mg-odds_btn btn-1">
                                    Bet now
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
